# Dependencies
**/node_modules/

# Environment variables
**/.env
**/.env.*

# Build output
**/dist
**/build

# Prisma generated client
backend/src/generated/prisma/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/